@import "tailwindcss";

@theme {
  --color-grey-400: #7D7D7D;
  --color-grey-200: #D8D8D8;
  --color-grey-150: #E5E5E5;
  --color-grey-100: #F3F3F3;

  --font-libre: "Libre Baskerville", sans-serif;
  --text-base: 14px;
  --leading-base: 200%;
  --tracking-base: -0.25px;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Libre Baskerville", sans-serif;
}